/* NAV UL */
.nav-list ul {
    display: flex;
    flex-direction: row;
    flex: auto;
    padding: 10px 0px;
}

.nav-list ul li {
    list-style: square inside;
    color: black;
    margin: 0px 40px;
}

.nav-list ul li a {
    color: rgb(79, 79, 79);
}

.nav-list ul li a:hover{
    color: rgb(136, 76, 164);
}

/* NAV LINKS */
.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.nav-links a {
    text-decoration: none;
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #00000062;
    color: white;
    border-radius: 5px;
}

.nav-links a:hover {
    color: rgb(136, 76, 164);
}