.intro-section {
    display: flex;
    flex-direction: row;
    margin:  0 40px;
}

.intro-section div {
    margin: 10px 10px;
    padding: 0px 10px;
}

.whoami {
    color: rgb(79, 79, 79);
    background: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

.nav-link-section {
    margin: 0 100px;
}

hr {
    margin: 20px 0px;
    color: rgb(136, 76, 164);
}

.mailto {
    color: rgba(0, 0, 0, 0.619);
}

.mailto:hover {
    color: rgb(58, 112, 48);
}

strong {
    color: black;
}