.intro-session {
    display: flex;
    flex-direction: row;
}

.intro-session div {
    margin: 10px ;
    padding: 0 20px;
}

.whoami{
    background:rgba(0, 0, 0, 0.05) ;
    border-radius: 5px;
}

.internal-section {
    margin: 0 40px;
}


.mailto {
    color: rgba(0, 0, 0, 0.619);
}
.mailto:hover {
    color: rgb(59, 112, 48);
}

hr {
    margin: 10px 40px;
    color: rgb(136, 76, 164);
}